/** @format */

$custom-primary: #161616;
$custom-secondary: #2c2c2c;
$custom-success: #0ee636;
$transition-duration: 0.3s;

body {
	overflow-x: hidden;
}

.container {
	width: 100vw;
}

.nav-tabs {
	.nav-item {
		display: block;
		position: relative;
		background-color: $custom-secondary;
		color: white;

		// &.left-tab {
		// 	background-color: $custom-secondary;
		// 	// &:hover {
		// 	// 	.nav-link {
		// 	// 		border-bottom: 4px solid $custom-success;
		// 	// 		transition: color $transition-duration ease, background-color $transition-duration ease,
		// 	// 			border-bottom $transition-duration ease;
		// 	// 		transform: translateY(-5px);
		// 	// 	}

		// 	// 	&:active {
		// 	// 		transform: scale(0.9);
		// 	// 	}

		// 	// 	.dropdown-menu {
		// 	// 		display: block;
		// 	// 		position: absolute;
		// 	// 		left: 0;
		// 	// 		right: auto;
		// 	// 	}
		// 	// }
		// }

		// &.right-tab {
		// 	&:hover {
		// 		background-color: $custom-secondary;
		// 		.nav-link {
		// 			border-bottom: 4px solid $custom-success;
		// 			transition: color $transition-duration ease, background-color $transition-duration ease,
		// 				border-bottom $transition-duration ease;
		// 			transform: translateY(-5px);
		// 		}

		// 		&:active {
		// 			transform: scale(0.9);
		// 		}

		// 		.dropdown-menu {
		// 			display: block;
		// 			position: absolute;
		// 			left: auto;
		// 			right: 0;
		// 		}
		// 	}
		// }

		// .navbar-nav &.dropdown {
		// 	position: static;
		// 	background-color: $custom-secondary;
		// 	color: white !important;

		// 	&:hover {
		// 		.dropdown-menu {
		// 			display: block;
		// 			position: absolute;
		// 			left: auto;
		// 			right: 0;
		// 		}
		// 	}
		// }
	}

	.nav-link {
		background-color: $custom-secondary;
		color: white !important;
		transition: color $transition-duration ease, background-color $transition-duration ease,
			border-bottom $transition-duration ease;

		&:hover {
			color: lighten($custom-secondary, 10%);
			transform: translateY(-5px);
		}

		&:active {
			transform: scale(0.9);
		}
	}
}

.dropdown-menu {
	background-color: $custom-secondary;
	color: white;
	.dropdown-item {
		&:hover {
			background-color: lighten($custom-secondary, 10%);
			transform: translateY(-5px);
			color: white;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	a.nav-link.active.text-light-bold.main-nav-menu-item:not(:hover):active {
		color: white !important;
	}

	// // Media query for smaller screens
	// @media (max-width: 1200px) {
	// 	.dropdown-menu .add-menu {
	// 		left: 0;
	// 		right: auto;
	// 	}
	// }
}
a.nav-link.text-light-bold.main-nav-menu-item {
	background-color: $custom-secondary;
	color: white !important;
}

a.nav-link.text-light-bold.main-nav-menu-item:hover,
a.nav-link.text-light-bold.main-nav-menu-item:focus {
	color: white !important;
	background-color: darken($custom-success, 20%);
}

.accordion-item {
	.accordion-button {
		transition: background-color 0.3s, color 0.3s;
		background-color: $custom-secondary;
		color: white;

		&:hover {
			background-color: lighten($custom-secondary, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 0.25rem rgba(181, 208, 234, 0.5);
		}

		&:active {
			transform: scale(0.9);
		}

		&.collapsed {
			&.bg-primary {
				background-color: $custom-success !important;
			}
		}
	}
}

.btn-primary {
	background-color: $custom-primary;
	border-color: $custom-primary;
	transition: background-color 0.3s ease, border-color 0.3s ease;

	&:hover {
		background-color: darken($custom-primary, 10%);
		border-color: darken($custom-primary, 10%);
		transform: translateY(-5px);
	}
	&:active {
		transform: scale(0.9);
	}
}
.btn-success {
	background-color: $custom-success;
	border-color: $custom-success;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	border-radius: 50rem;

	&:hover {
		background-color: darken($custom-success, 10%);
		border-color: darken($custom-success, 10%);
		transform: translateY(-5px);
	}
	&:active {
		transform: scale(0.9);
	}
}

.search-input,
.login-input {
	background-color: $custom-secondary;
	border-radius: 50rem;
	color: white;
	border: $custom-success;

	&::placeholder {
		color: white;
	}
	&:hover {
		background-color: darken($custom-success, 10%);
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($custom-success, 0.25);
		background-color: $custom-secondary;
		color: white;
		border-color: $custom-success;
	}
	&:focus[icon] {
		color: $custom-success;
	}
}

select.select-input {
	background-color: $custom-primary;
	border-radius: 50rem;
	color: white;
	border-color: $custom-success;

	&::placeholder {
		color: white;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($custom-success, 0.25);
		background-color: $custom-primary;
		color: white;
		border-color: $custom-success;
	}
	&:focus[icon] {
		color: $custom-success;
	}
}

.btn-pill-success {
	background-color: transparent;
	color: $custom-success;
	border: 1px solid $custom-success;
	border-radius: 50rem;

	&:hover {
		background-color: $custom-success;
		color: white;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($custom-success, 0.25);
		border: 1px solid $custom-success;
	}
}

.bg-primary {
	background-color: $custom-primary !important;
}
.bg-secondary {
	background-color: $custom-secondary !important;
}

.bg-contain {
	background-color: #ebf2fa;
}

.text-primary {
	color: $custom-primary !important;
}

.text-primary-bold {
	color: $custom-primary !important;
	font-weight: bold;
}

.text-light {
	color: white;
}
.text-light-bold {
	color: white;
	font-weight: bold;
	&:hover {
		text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
		transform: translateZ(20px) rotateX(30deg);
	}
	&:active {
		transform: scale(0.9);
	}
}

.border-primary {
	border-color: $custom-primary !important;
}

.box-shadow-success {
	box-shadow: 0 1px 3px rgba(0, 62, 122, 0.12), 0 1px 2px rgba(0, 62, 122, 0.24);
}

.btn-outline-success {
	color: $custom-primary;
	transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

	&:hover {
		background-color: darken($custom-primary, 10%);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		color: white !important;
		transform: translateY(-5px);
	}

	&:active {
		transform: scale(0.9);
	}
}
.product-card {
	padding: 1rem;

	&:hover {
		background-color: darken($custom-primary, 10%);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		color: white !important;
		transform: translateY(-5px);
		border-color: $custom-success;
		transition: transform 0.5s ease, border-color 0.5s ease;
	}
}

.icon-success {
	color: white;
	transform: translateY(-5px);
	&:hover {
		text-shadow: 0 0 8px $custom-success;
	}
	&:active {
		transform: scale(0.9);
	}
}

.card-img-top {
	border-radius: 10px;
	max-height: 250px;
	max-width: 250px;
	object-fit: contain;
	margin: auto; /* Centers the image within the padding */
}
/* Place this in your CSS file */
.modal.pill {
	border-radius: 50px;
}

.modal.rounded-circle {
	border-radius: 50%;
}

.success-icon {
	color: $custom-success;
}
.product-detail-show {
	z-index: 999;
}
.svg-inline--fa.fa-check.success-icon {
	height: 10px;
	width: 10px;
}

#shopping-cart,
#pc-builder,
#support-section {
	display: none;
}
