/** @format */
body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

.nav-tabs .nav-item {
  display: block;
  position: relative;
  background-color: #2c2c2c;
  color: white;
}
.nav-tabs .nav-link {
  background-color: #2c2c2c;
  color: white !important;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}
.nav-tabs .nav-link:hover {
  color: #464646;
  transform: translateY(-5px);
}
.nav-tabs .nav-link:active {
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .hero-image {
    background-size: cover;
    background-position: bottom 90%;
    height: 50vw;
  }
}
.dropdown-menu {
  background-color: #2c2c2c;
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #464646;
  transform: translateY(-5px);
  color: white;
}
.dropdown-menu .dropdown-item:active {
  transform: scale(0.9);
}
.dropdown-menu a.nav-link.active.text-light-bold.main-nav-menu-item:not(:hover):active {
  color: white !important;
}

a.nav-link.text-light-bold.main-nav-menu-item {
  background-color: #2c2c2c;
  color: white !important;
}

a.nav-link.text-light-bold.main-nav-menu-item:hover,
a.nav-link.text-light-bold.main-nav-menu-item:focus {
  color: white !important;
  background-color: #08861f;
}

.accordion-item {
  border-radius: 5px;
}
.accordion-item .accordion-button {
  transition: background-color 0.3s, color 0.3s;
  background-color: #2c2c2c;
  color: white;
  border-radius: 5px;
}
.accordion-item .accordion-button:hover {
  background-color: #464646;
}
.accordion-item .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(181, 208, 234, 0.5);
  background-color: #0ee636;
}
.accordion-item .accordion-button.collapsed {
  background-color: #2c2c2c !important;
  color: white !important;
}

.btn-primary {
  background-color: #161616;
  border-color: #161616;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-primary:hover {
  background-color: black;
  border-color: black;
  transform: translateY(-5px);
}
.btn-primary:active {
  transform: scale(0.9);
}

.btn-success {
  background-color: #0ee636;
  border-color: #0ee636;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-radius: 50rem;
}
.btn-success:hover {
  background-color: #0bb62b;
  border-color: #0bb62b;
  transform: translateY(-5px);
}
.btn-success:active {
  transform: scale(0.9);
}

.search-input,
.login-input {
  background-color: #2c2c2c;
  border-radius: 50rem;
  color: white;
  border: #0ee636;
}
.search-input::placeholder,
.login-input::placeholder {
  color: white;
}
.search-input:hover,
.login-input:hover {
  background-color: #0bb62b;
}
.search-input:focus,
.login-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 230, 54, 0.25);
  background-color: #2c2c2c;
  color: white;
  border-color: #0ee636;
}
.search-input:focus[icon],
.login-input:focus[icon] {
  color: #0ee636;
}

select.select-input {
  background-color: #161616;
  border-radius: 50rem;
  color: white;
  border-color: #0ee636;
}
select.select-input::placeholder {
  color: white;
}
select.select-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 230, 54, 0.25);
  background-color: #161616;
  color: white;
  border-color: #0ee636;
}
select.select-input:focus[icon] {
  color: #0ee636;
}

.btn-pill-success {
  background-color: transparent;
  color: #0ee636;
  border: 1px solid #0ee636;
  border-radius: 50rem;
}
.btn-pill-success:hover {
  background-color: #0ee636;
  color: white;
}
.btn-pill-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 230, 54, 0.25);
  border: 1px solid #0ee636;
}

.btn-pill-light {
  background-color: white;
  border: 1px solid #ccc;
  color: #161616;
  font-weight: bold;
  border-radius: 50rem;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-pill-light:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  transform: translateY(-5px);
  color: #161616;
}
.btn-pill-light:active {
  transform: scale(0.9);
}

.bg-primary {
  background-color: #161616 !important;
}

.bg-secondary {
  background-color: #2c2c2c !important;
}

.bg-success {
  background-color: #0ee636 !important;
}

.bg-contain {
  background-color: #ebf2fa;
}

.text-primary {
  color: #161616 !important;
}

.text-primary-bold {
  color: #161616 !important;
  font-weight: bold;
}

.text-light {
  color: white;
}

.text-light-bold {
  color: white;
  font-weight: bold;
}
.text-light-bold:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
  transform: translateZ(20px) rotateX(30deg);
}
.text-light-bold:active {
  transform: scale(0.9);
}

.border-primary {
  border-color: #161616 !important;
}

.box-shadow-success {
  box-shadow: 0 1px 3px rgba(0, 62, 122, 0.12), 0 1px 2px rgba(0, 62, 122, 0.24);
}

.btn-outline-success {
  color: #0ee636;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.btn-outline-success:hover {
  color: white !important;
  transform: translateY(-5px);
}
.btn-outline-success:active {
  transform: scale(0.9);
}

.product-card {
  padding: 1rem;
}
.product-card:hover {
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white !important;
  transform: translateY(-5px);
  border-color: #0ee636;
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.hero-image {
  background: linear-gradient(to top, #161616, rgba(0, 128, 128, 0)), url("../images/products/ek-fluid-gaming-digital-reef-art-1.webp") no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 80vh;
}

.hero-text {
  position: absolute;
  bottom: 0%;
  left: 43%;
  transform: translate(-50%);
}

.hero-text-sm {
  position: relative;
  bottom: 0%;
  left: 55%;
}

.hero-image-sm {
  background: url("../images/products/ek-fluid-gaming-digital-reef-art-1.webp") no-repeat bottom;
  background-size: cover;
  position: relative; /* This is important for absolute positioning inside */
  height: 15vh; /* You can adjust this height as needed */
}

.product-card .card-img-contain {
  /* Set a specific height for the image container */
  height: 220px; /* adjust as needed */
  /* Optional: set a maximum width for the image if required */
  max-width: 100%; /* this ensures that the image container doesn't exceed its parent width */
  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card .card-img-top {
  width: auto; /* this will maintain the image width based on its aspect ratio */
  max-width: 100%; /* ensure it's no wider than the container */
  height: 100%; /* this will take up the full height of the container */
  object-fit: cover; /* this will make sure the image covers the area, cropping if necessary */
}

.icon-success {
  color: white;
  transform: translateY(-5px);
}
.icon-success:hover {
  text-shadow: 0 0 8px #0ee636;
}
.icon-success:active {
  transform: scale(0.9);
}

.card-img-top {
  border-radius: 10px;
  max-height: 250px;
  max-width: 250px;
  object-fit: contain;
  margin: auto; /* Centers the image within the padding */
}

/* Place this in your CSS file */
.modal.pill {
  border-radius: 50px;
}

.modal.rounded-circle {
  border-radius: 50%;
}

.success-icon {
  color: #0ee636;
}

.product-detail-show {
  z-index: 999;
}

.svg-inline--fa.fa-check.success-icon {
  height: 10px;
  width: 10px;
}

#shopping-cart,
#pc-builder,
#support-section {
  display: none;
}

.input-black-line {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

/*# sourceMappingURL=custom-styles.css.map */
